div {
  font-family: "Lexend Deca";
}

table {
  width: auto;
  border-collapse: collapse;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff5c35;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

tr {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:hover {background-color: #ddd;}

h1 {
  text-align: center;
}

h2 {
  padding-top: 12px;
  border-top: 2px solid #ddd;
}

input {
  width : 20%;
}

button {
  font-family: "Lexend Deca";
  background-color: #ff5c35;
  color: white;
  font-size: large;
  cursor: pointer;
}